.portMainContainer{
    text-align: center;
    color: white;
    margin: auto 5% auto 5%;
    position: relative; 
}

.portSecContainer{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .portSecContainer {
        flex-direction: column;
        width: auto;
    }
}

.eachportContainer{
    padding: 2%;
    margin: 2%;
    width: 25%;
}

@media only screen and (max-width: 1000px) {
    .eachportContainer{
        width: auto;
    }
}

.portIcon{
    height: 100px;
}